<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head"); %>
    <%- include("partials/footer"); %>
    <%- include("partials/nav_admin"); %>
</head>
<body>
    <div class="container mt-2">
        <div class="row offset-1">
            <div class="col-auto">
                <h3><%= name %></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-10">
                <table class="table">
                    <tbody>
                        <tr style="border-top:hidden">
                            <td>Username:</td>
                            <td class = "username"><%= username %></td>
                            <td>Country:</td>
                            <td><%= country %></td>
                        </tr>
                        <tr>
                            <td>Phone Number:</td>
                            <td><%= phone %></td>
                            <td>Trust Value:</td>
                            <td><%= trustvalue %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row justify-content-center mb-2">
            <div class="col-6">
                <img src="<%= document %>"></img>
            </div>
            <div class="col-6">
                <img src="<%= face %>"></img>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto">
                <button type="button" class="btn btn-lg" id="submit-btn" onclick="accept()" <%= disabled %> >Accept</button>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-lg" id="submit-btn" onclick="reject()" <%= disabled %> >Reject</button>
            </div>
        </div>
    </div>
</body>
<script src="/js/display_user.js"></script>
</html>
