<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("partials/footer"); %>
<<<<<<< HEAD
</head>
<body>
        
=======
        <%- include("partials/nav"); %>
    </head>
    <body>
>>>>>>> e54ba06476a63e33096cbeb5b46e3d1592632cec
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="bs-callout bs-callout-primary">
                        <h4>Connect Google Authenticator to your Account</h4>
                        <p>Scan QR code and press <strong>Save</strong> button.</p>
                    </div>
                </div>
<<<<<<< HEAD
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        
                        <form method="post">
                            <div class="form-group">
                                <%- qr %>
                            </div>
                            <input type="hidden" value="<%= key %>" name="newQR"/>
                            <button type="submit" class="btn btn-lg">Continue</button>
                        </form>
                    </div>
=======
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">

                    <form method="post">
                        <div class="form-group">
                            <%- qr %>
                        </div>
                        <a href="/"><button type="button" class="btn btn-lg">Continue</button></a>
                    </form>
>>>>>>> e54ba06476a63e33096cbeb5b46e3d1592632cec
                </div>
            </div>
        </div>

<<<<<<< HEAD
</body>

</html>
=======
    </body>
</html>
>>>>>>> e54ba06476a63e33096cbeb5b46e3d1592632cec
