<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("partials/head"); %>
        <%- include("partials/footer"); %>
        <%- include("partials/nav"); %>
    </head>
    <body>
        <div class="container mt-3">
            <div class="row">
                <div class="col-6 offset-3">
                    <h4>Connect Google Authenticator to your Account</h4>
                    <p>Scan QR code and press <strong>Save</strong> button.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6 offset-3">
                    <form method="post">
                        <div class="form-group">
                            <%- qr %>
                        </div>
                        <input type="hidden" value="<%= key %>" name="newQR"/>
                        <button type="submit" class="btn btn-lg">Continue</button>
                    </form>
                </div>
            </div>
        </div>

    </body>

</html>
